In [1]:
import numpy as np
import pandas as pd

In [6]:
file_name = 'food-and-beverage.txt'
path = f"D:/Laboral/Iota Impact/Projects/Datasets/{file_name}"
sep = '\t'
chunksize = 30

In [37]:
chunk_dataset = pd.read_csv(    
    path,
    sep=sep,
    # index_col=0,
    header=0,
    # engine='c',
    # dtype=str,
    iterator=True,
    chunksize=chunksize,
    encoding='utf-8',
    encoding_errors='ignore'
)

In [38]:
df = next(chunk_dataset)

In [39]:
df.head()

,Name,Domain,Year founded,Industry,Size range,Locality,Linkedin url,Current employee estimate,Total employee estimate,Industry_category,State,Id_locality
0,Walmart,careers.walmart.com,1962,Retail,10001+,Withee,linkedin.com/company/walmart,120753,272827,Food and beverage,WI,"Withee, WI"
1,Mcdonald's corporation,aboutmcdonalds.com,1955,Restaurants,10001+,Oak brook,linkedin.com/company/mcdonald's-corporation,68233,235199,Food and beverage,IL,"Oak brook, IL"
2,Pepsico,pepsico.com,1965,Food and beverages,10001+,Purchase,linkedin.com/company/pepsico,61040,146820,Food and beverage,NY,"Purchase, NY"
3,Target,target.com,1962,Retail,10001+,Minneapolis,linkedin.com/company/target,60602,204360,Food and beverage,MN,"Minneapolis, MN"
4,Starbucks,starbucks.com,1971,Retail,10001+,Seattle,linkedin.com/company/starbucks,46523,147107,Food and beverage,WA,"Seattle, WA"

## Identify undesired rows

In [40]:
# year dounded is not of date data type
df_e = df[28:29]
df_e

,Name,Domain,Year founded,Industry,Size range,Locality,Linkedin url,Current employee estimate,Total employee estimate,Industry_category,State,Id_locality
28,Sam's club,samsclub.com,missing,Retail,10001+,Bentonville,linkedin.com/company/sam's-club,10738,30669,Food and beverage,AR,"Bentonville, AR"

In [41]:
df[df.isin(['missing']).any(axis=1)]

,Name,Domain,Year founded,Industry,Size range,Locality,Linkedin url,Current employee estimate,Total employee estimate,Industry_category,State,Id_locality
28,Sam's club,samsclub.com,missing,Retail,10001+,Bentonville,linkedin.com/company/sam's-club,10738,30669,Food and beverage,AR,"Bentonville, AR"
29,Aim,missing,1962,Retail,10001+,Bentonville,linkedin.com/company/aim.com,10577,10841,Food and beverage,AR,"Bentonville, AR"

## Get the index of the undesired rows

In [47]:
condition_1 = df.isin(['missing']).any(axis=1)
df[condition_1].index

Int64Index([28, 29], dtype='int64')

## Drop undesired rows

In [35]:
df.drop(df[condition_1].index, inplace=True)
df

,Name,Domain,Year founded,Industry,Size range,Locality,Linkedin url,Current employee estimate,Total employee estimate,Industry_category,State,Id_locality
0,Walmart,careers.walmart.com,1962,Retail,10001+,Withee,linkedin.com/company/walmart,120753,272827,Food and beverage,WI,"Withee, WI"
1,Mcdonald's corporation,aboutmcdonalds.com,1955,Restaurants,10001+,Oak brook,linkedin.com/company/mcdonald's-corporation,68233,235199,Food and beverage,IL,"Oak brook, IL"
2,Pepsico,pepsico.com,1965,Food and beverages,10001+,Purchase,linkedin.com/company/pepsico,61040,146820,Food and beverage,NY,"Purchase, NY"
3,Target,target.com,1962,Retail,10001+,Minneapolis,linkedin.com/company/target,60602,204360,Food and beverage,MN,"Minneapolis, MN"
4,Starbucks,starbucks.com,1971,Retail,10001+,Seattle,linkedin.com/company/starbucks,46523,147107,Food and beverage,WA,"Seattle, WA"
5,The home depot,homedepot.com,1977,Retail,10001+,Atlanta,linkedin.com/company/the-home-depot,44630,114799,Food and beverage,GA,"Atlanta, GA"
6,Walgreens,walgreens.com,1901,Retail,10001+,Deerfield,linkedin.com/company/walgreens,40455,98131,Food and beverage,IL,"Deerfield, IL"
7,"Lowe's companies, inc.",lowes.com,1946,Retail,10001+,Mooresville,linkedin.com/company/lowe's-home-improvement,39741,91802,Food and beverage,NC,"Mooresville, NC"
8,Macy's,macysjobs.com,1858,Retail,10001+,Cincinnati,linkedin.com/company/macy,33795,110896,Food and beverage,OH,"Cincinnati, OH"
9,Best buy,bestbuy.com,1966,Retail,10001+,Richfield,linkedin.com/company/best-buy,29568,120812,Food and beverage,MN,"Richfield, MN"
10,The coca-cola company,coca-colacompany.com,1892,Food and beverages,10001+,Atlanta,linkedin.com/company/the-coca-cola-company,29278,77857,Food and beverage,GA,"Atlanta, GA"
11,Mondelēz international,mondelezinternational.com,1903,Food production,10001+,Deerfield,linkedin.com/company/mondelezinternational,27152,70560,Food and beverage,IL,"Deerfield, IL"
12,Cargill,cargill.com,1865,Food production,10001+,Wayzata,linkedin.com/company/cargill,25321,58954,Food and beverage,MN,"Wayzata, MN"
13,Kroger,thekrogerco.com,1883,Retail,10001+,Cincinnati,linkedin.com/company/kroger,22257,52584,Food and beverage,OH,"Cincinnati, OH"
14,H&r block,hrblock.com,1955,Retail,10001+,Kansas city,linkedin.com/company/h&r-block,21410,50330,Food and beverage,MO,"Kansas city, MO"
15,Costco wholesale,costco.com,1983,Retail,10001+,Issaquah,linkedin.com/company/costco-wholesale,21030,39071,Food and beverage,WA,"Issaquah, WA"
16,Nordstrom,nordstrom.com,1901,Retail,10001+,Seattle,linkedin.com/company/nordstrom,20376,81777,Food and beverage,WA,"Seattle, WA"
17,Sears holdings corporation,searsholdings.com,2005,Retail,10001+,Hoffman estates,linkedin.com/company/sears-holdings-corporation,17952,59118,Food and beverage,IL,"Hoffman estates, IL"
18,Kohl's department stores,kohls.com,1962,Retail,10001+,Menomonee falls,linkedin.com/company/kohls-department-stores,17851,55906,Food and beverage,WI,"Menomonee falls, WI"
19,Jcpenney,jcpenney.com,1902,Retail,10001+,Plano,linkedin.com/company/jcpenney,16930,55293,Food and beverage,TX,"Plano, TX"
20,Aramark,aramark.com,1939,Retail,10001+,Philadelphia,linkedin.com/company/aramark,15833,46456,Food and beverage,PA,"Philadelphia, PA"
21,Whole foods market,wholefoodsmarket.com,1980,Supermarkets,10001+,Austin,linkedin.com/company/whole-foods-market,15674,36319,Food and beverage,TX,"Austin, TX"
22,Publix super markets,publix.com,1930,Retail,10001+,Lakeland,linkedin.com/company/publix-super-markets,15397,33076,Food and beverage,FL,"Lakeland, FL"
23,Mars,mars.com,1911,Food production,10001+,Mclean,linkedin.com/company/mars,15197,37881,Food and beverage,VA,"Mclean, VA"
24,Monsanto company,monsanto.com,2000,Farming,10001+,St. louis,linkedin.com/company/monsanto,14319,36162,Food and beverage,MO,"St. louis, MO"
25,Safeway,safeway.com,1915,Food and beverages,10001+,Pleasanton,linkedin.com/company/safeway,13700,38432,Food and beverage,CA,"Pleasanton, CA"
26,Pizza hut,pizzahut.com,1958,Restaurants,10001+,Plano,linkedin.com/company/pizza-hut,12338,43563,Food and beverage,TX,"Plano, TX"
27,Rite aid,riteaid.com,1968,Retail,10001+,Harrisburg,linkedin.com/company/rite-aid,11323,30951,Food and beverage,PA,"Harrisburg, PA"